/*app.js styling
*/
li {
  color: white;
  list-style: none;
  border: 1px solid rgb(31, 18, 25);
  border-radius: 20px;
  background-color: rgb(63, 58, 101);
  font-weight: bold;
  width: 400px;
  padding: 10px;
  font-size: large;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 20px;
}
button {
  background-color: rgb(189, 189, 237);
  border: none;
  margin: 5px 5px;
  padding: 5px 15px;
  border-radius: 5px;
}
.delete-button {
  background-color: rgb(231, 61, 95);
}
input {
  border-radius: 5px;
  border: none;
  margin: 5px 5px;
}

ol {
  color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
  display: grid;
  justify-content: center;
}
h1 {
  font-size: 45px;
  font-family: "Lucida Grande";
  color: rgb(189, 189, 237);
  font-weight: 20px;
}

body {
  background-size: cover;
  background-position: center;
  color: white;
  background-color: rgb(33, 29, 61);
  text-align: center;
}

#container-logged-in {
  min-height: 100vh;
  display: none;
}

.textbox-button {
  padding: 20px;
  font-family: "Lucida Sans", Arial, sans-serif;
}
.song-name {
  font-size: xx-large;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.song-album,
.song-genre,
.song-artist,
.song-year {
  color: rgb(193, 188, 188);
  font-size: small;
  font-family: sans-serif;
}
#create-account-button,
#login-button {
  padding: 7px;
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#first-name,
#last-name,
#email,
#password {
  color: rgb(193, 188, 188);
  font-size: small;
  font-family: sans-serif;
}
#account {
  display: flex;
  color: rgb(151, 116, 192);
  font-family: monospace;
  display: grid;
  justify-content: center;
}
#login-container {
  border-radius: 20px;
  background-color: rgb(63, 58, 101);
  padding-left: 100px;
  padding-right: 100px;
}
#create-container {
  border-radius: 20px;
  background-color: rgb(63, 58, 101);
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 75px;
  margin-top: 50px;
}
#header-title {
  display: grid;
  justify-content: center;
}

#container-create-account {
  display: grid;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}
